.home {
  &-quiz {
    &__introduction {
      padding: 5px 10px;

      &-h2 {
        border-bottom: solid;

        &-logo {
          width: 10%;
          padding:10px;
        }
      }
    }
    &__setting {
      padding: 5px 10px;

      &-h2 {
        border-bottom: solid;

        &-logo {
          width: 10%;
          padding:10px;
        }
      }
    }

    &__ranking {
      padding: 5px 10px;

      &-h2 {
        border-bottom: solid;

        &-logo {
          width: 10%;
          padding:10px;
        }
      }
    }
  }

  &__notice {
    padding: 5px 10px;

    &-h2 {
      border-bottom: solid;

      &-logo {
        width: 10%;
        padding:10px;
      }
    }
  }
}