.quiz {
  &-question {
    &-h2 {
      border-bottom: solid;
    }

    &__logo {
      width: 10%;
      padding:10px;
    }
  }

  &-answer__list {
    background: #c5e4ff;

    ul {
      padding: 20px 10px;

      li {
        list-style: none;
        margin: 10px 0px;
      }
    }
  }

  &__responsive {
    width: 50%;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px black;
     
     }

  &-correct {
    &-h2 {
      border-bottom: solid;
    }

    &__logo {
      width: 10%;
      padding:10px;
    }

    &-answer {
      width: 10%;
    }
  }

  &-commentary {
    &-h2 {
      border-bottom: solid;
    }

    &__logo {
      width: 10%;
      padding:10px;
    }

    &__text {
      padding: 20px 20px;
    }
  }
}