.sidebar {

  &-keywords {
    border: solid #C2CBD3;
    background: #fff;

    &-h3 {
      background: $sidebar-header-blue;
      margin: 0px auto;
      padding: 10px;
    }

    &__links {
      li {
        list-style: none;
        margin-left: -35px;
        padding-top: 10px;

        @include sp {
          display: flex;
          flex-wrap: wrap;
        }

        a {
          margin-left: 15px;
        }
      }
    }
  }
}