.sidebar {

  &-keywords {
    border: solid #C2CBD3;
    background: #fff;

    &-h3 {
      background: $sidebar-header-blue;
      margin: 0px auto;
      padding: 10px;
    }

    &__links {
      li {
        margin-top: 10px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        router-link{
          margin-top: 10px;

        }
        


        @include sp {
          flex-wrap: wrap;
        }

        a {
          margin: 5px;
          font-size: 16px;
        }
      }
    }
  }
}